@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

.fade-out {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.fade-in {
    opacity: 0;
    animation: fadeIn 0.5s ease-in-out forwards;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

body{
    background-image: url('images/pokecenter-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

html {
    height: 100%;
}

header {
    background-color: brown;
    top: 0;
    display: flex;
    flex-direction: row;
    padding-left: 45%;
}

header img{
    margin-top: 0.8%;
    width: 4%;
    height: 100%;
}

section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5% 10%;
}

main{
    text-align: left;
    font-family: 'Pixelify Sans', sans-serif;
    font-size: xx-large;
    flex: 1;
}

main button{
    display: block;
    font-size: xx-large;
    touch-action: manipulation;
    outline: none;
    margin-top: 20px;
    font-family: 'Pixelify Sans', sans-serif;
    border: none;
    background: none;
}

aside{
    display: flex;
    justify-content: right;
    align-items: center;
}

aside img{
    max-width: 100%;
    height: auto;
}

footer {
    border-top: 0.4px solid black;
    text-align: center;
    background-color:whitesmoke;
    font-family: 'Pixelify Sans', sans-serif;
    margin-top: auto;
    width: 100%;
}

#menu-options button{
    color: white;
    text-shadow: 2px 2px black;
}

#main-txt{
    color: white;
    text-shadow: 2px 2px #788090;
}

#quiz-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    text-align: center;
    margin-top: 20px;
    color: #606060;
    text-shadow: 3px 3px #D0D0C8;
}

#quiz-container button{
    color: #606060;
    text-shadow: 3px 3px #D0D0C8;
}

#quiz-background {
    z-index: -1;
    position: absolute;
    top: 17%;
    left: 50;
    width: 50%;
    height: 50%;
    background: url('images/quiz-menu.png') no-repeat center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

#quiz-option{
    text-align: center;
}

#logotipo{
    margin: 0 10px 0 10px;
    width: 15%;
    transition: transform .2s;
}

#logotipo:hover{
    transform: scale(1.05);
}

#bg-music {
    padding-top: 5px;
    padding-left: 10px;
}

#startBtn{
    margin-right: 50px;
}

#menu-options button:hover{
    position: relative;
    left: 10px;
}

#pikachu-animation{
    position: absolute;
    left: 15%;
    bottom: 6%;
    width: 3%;
}

#resposta-quiz{
    color: #606060;
    text-shadow: 3px 3px #D0D0C8;
}
